.title {
  color: theme(colors.newmo.400);
  @apply text-2xl md:text-3xl lg:text-4xl font-bold tracking-tighter leading-tight md:leading-none text-center md:text-left;
}

.input {
  border: 1px solid theme(colors.newmo.400);
  border-radius: 1.2rem;
  padding: 0.36rem 1rem;
  margin: 1rem 0;
}

.input:focus {
  border: 1px solid theme(colors.newmo.400);
}

.input::placeholder {
  color: theme(colors.newmo.400);
}

.input::selection {
  background-color: theme(colors.newmo.400);
}

.resultOne {
  display: block;
  border: 1px solid theme(colors.newmo.400);
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 1rem 0;
}

.resultTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: theme(colors.newmo.400);
}

.resultContent {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  background-color: theme(colors.newmo.400);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: theme(colors.newmo.600);
}

.pagination button.activePage {
  background-color: theme(colors.newmo.800);
}
