body {
  overflow-y: scroll;
}

main {
  /* footerを最下部に固定表示するため */
  min-height: calc(100vh - 248px);
  color: var(--color-newmo-400);
}

.header-text {
  color: var(--color-text-primary);
  text-shadow: var(--text-shadow-primary);
}

.wave {
  background: url('/wave.svg') repeat-x;
  position: relative;
  height: 198px;
  top: 0px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53)
    infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -5px;
  margin-bottom: -198px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s
      infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -10px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
